In [199]:
!pip install nltk
import nltk
import numpy as np
import pandas as pd

Requirement already satisfied: nltk in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (3.7)
Requirement already satisfied: joblib in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: regex>=2021.8.3 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from nltk) (2022.9.13)
Requirement already satisfied: tqdm in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from nltk) (4.63.1)
Requirement already satisfied: colorama in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from click->nltk) (0.4.4)

In [121]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [122]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [123]:
credits.head(2)
credits.rename(columns={'movie_id':'id'}, inplace=True)
credits.head()

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

# Merge both the dataframes

In [124]:
movies = movies.merge(credits,on='id')

In [125]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [126]:
movies.shape

(4803, 23)

In [127]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 900.6+ KB

# Remove unwanted columns

In [128]:
# Columns we need:
#     genres
#     id
#     keywords
#     overview
#     title_x
#     cast
#     crew

In [129]:
movies = movies[['id','genres','keywords','overview','title_x','cast','crew']]

In [130]:
movies.head()

,id,genres,keywords,overview,title_x,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [131]:
movies.rename(columns={'title_x':'title'},inplace=True)

In [132]:
movies.head(2)

,id,genres,keywords,overview,title,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [133]:
movies.dropna(inplace=True)

In [134]:
movies.duplicated().sum()

0

In [135]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

# We have to convert it into a list

In [136]:
import ast

In [137]:
def convert(obj):
    ls = []
    for i in ast.literal_eval(obj):
        ls.append(i['name'])
    return ls

In [138]:
movies['genres'] = movies['genres'].apply(convert)

In [139]:
movies.head(1)

,id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [140]:
movies.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [141]:
movies['keywords'] = movies['keywords'].apply(convert)

In [142]:
movies.iloc[0]

id                                                      19995
genres          [Action, Adventure, Fantasy, Science Fiction]
keywords    [culture clash, future, space war, space colon...
overview    In the 22nd century, a paraplegic Marine is di...
title                                                  Avatar
cast        [{"cast_id": 242, "character": "Jake Sully", "...
crew        [{"credit_id": "52fe48009251416c750aca23", "de...
Name: 0, dtype: object

In [143]:
def convert2(obj):
    ls = []
    count=0
    for i in ast.literal_eval(obj):
        count+=1
        if(count==6):
            break
        ls.append(i['name'])
    return ls

In [144]:
movies['cast'] = movies['cast'].apply(convert2)

# Have to find director and producer from crew

In [146]:
def convert3(obj):
    ls = []
    for i in ast.literal_eval(obj):
        if i['job']=='Director' or i['job']=='Producer':
            ls.append(i['name']) 
    return ls

In [147]:
movies.head(2)

,id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [149]:
movies['crew'] = movies['crew'].apply(convert3)

In [150]:
movies.head(2)

,id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron, Jon Landau]"
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Gore Verbinski, Jerry Bruckheimer, Eric McLeo..."

In [151]:
movies['crew']

0              [James Cameron, James Cameron, Jon Landau]
1       [Gore Verbinski, Jerry Bruckheimer, Eric McLeo...
2       [Sam Mendes, Barbara Broccoli, Michael G. Wilson]
3       [Charles Roven, Christopher Nolan, Christopher...
4       [Andrew Stanton, Colin Wilson, Jim Morris, Lin...
                              ...
4798    [Robert Rodriguez, Robert Rodriguez, Carlos Ga...
4799    [Edward Burns, Edward Burns, William Rexer, Aa...
4800                           [Harvey Kahn, Scott Smith]
4801                                        [Daniel Hsia]
4802             [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: crew, Length: 4800, dtype: object

# Convert overview column into a list

In [153]:
movies['overview'] = movies['overview'].apply(lambda i:i.split())

In [154]:
movies.head()

,id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron, Jon Landau]"
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Gore Verbinski, Jerry Bruckheimer, Eric McLeo..."
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[Sam Mendes, Barbara Broccoli, Michael G. Wilson]"
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...","[Charles Roven, Christopher Nolan, Christopher..."
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[Andrew Stanton, Colin Wilson, Jim Morris, Lin..."

 # Now, in all the lists, in each list item, we have to remove the space
 ## Sam Worthington => SamWorthington

In [155]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [156]:
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [157]:
movies.head(2)

,id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[JamesCameron, JamesCameron, JonLandau]"
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...","[GoreVerbinski, JerryBruckheimer, EricMcLeod, ..."

# Now, we have to concatenate the columns - genres, keywords, overview, cast and crew and create one single column called tags

In [158]:
movies['tags'] = movies['genres'] + movies['keywords'] + movies['overview'] + movies['cast'] +movies['crew']

In [159]:
movies['tags']

0       [Action, Adventure, Fantasy, ScienceFiction, c...
1       [Adventure, Fantasy, Action, ocean, drugabuse,...
2       [Action, Adventure, Crime, spy, basedonnovel, ...
3       [Action, Crime, Drama, Thriller, dccomics, cri...
4       [Action, Adventure, ScienceFiction, basedonnov...
                              ...
4798    [Action, Crime, Thriller, unitedstates–mexicob...
4799    [Comedy, Romance, A, newlywed, couple's, honey...
4800    [Comedy, Drama, Romance, TVMovie, date, loveat...
4801    [When, ambitious, New, York, attorney, Sam, is...
4802    [Documentary, obsession, camcorder, crush, dre...
Name: tags, Length: 4800, dtype: object

In [160]:
movies.head(2)

,id,genres,keywords,overview,title,cast,crew,tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[JamesCameron, JamesCameron, JonLandau]","[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...","[GoreVerbinski, JerryBruckheimer, EricMcLeod, ...","[Adventure, Fantasy, Action, ocean, drugabuse,..."

In [167]:
movies = movies.drop(['keywords','overview','cast','crew','genres'],axis=1)

In [168]:
movies.head(2)

,id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."

In [171]:
movies['tags'] = movies['tags'].apply(lambda x:" ".join(x))

In [172]:
movies.head(2)

,id,title,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...

In [173]:
movies['tags'][0]

'Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez JamesCameron JamesCameron JonLandau'

In [180]:
movies['tags'] = movies['tags'].apply(lambda x:x.lower())

In [181]:
movies['tags'][0]

'action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez jamescameron jamescameron jonlandau'

# Will apply stemming to remove similar words

In [200]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [201]:
def stem(txt):
    ls=[]
    for i in txt.split():
        ls.append(ps.stem(i))
    return " ".join(ls)

movies['tags'] = movies['tags'].apply(stem)

# Now we will remove stop words

In [202]:
from sklearn.feature_extraction.text import CountVectorizer 

cv = CountVectorizer(max_features=7500,stop_words='english')

In [203]:
vectors = cv.fit_transform(movies['tags']).toarray()

In [204]:
vectors.shape

(4800, 7500)

In [205]:
cv.get_feature_names()

C:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '100',
 '10th',
 '11',
 '12',
 '12th',
 '13',
 '14',
 '15',
 '150',
 '16',
 '16th',
 '17',
 '17th',
 '18',
 '1890',
 '18th',
 '18thcenturi',
 '19',
 '1910',
 '1920',
 '1930',
 '1930s',
 '1937',
 '1940',
 '1941',
 '1944',
 '1945',
 '1950',
 '1950s',
 '1955',
 '1959',
 '1960',
 '1960s',
 '1962',
 '1964',
 '1965',
 '1967',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1976',
 '1977',
 '1979',
 '1980',
 '1980s',
 '1984',
 '1985',
 '1990',
 '1994',
 '1995',
 '1997',
 '1999',
 '19th',
 '19thcenturi',
 '20',
 '200',
 '2000',
 '2001',
 '2002',
 '2003',
 '2008',
 '2009',
 '20th',
 '21st',
 '21stcenturi',
 '23',
 '24',
 '25',
 '27',
 '30',
 '300',
 '35',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '60s',
 '70',
 '80',
 'aaron',
 'aaroneckhart',
 'aaronpaul',
 'aaronryd',
 'aaronseltz',
 'aarontaylor',
 'abandon',
 'abbi',
 'abbiecornish',
 'abduct',
 'abhishekbachchan',
 'abigailbreslin',
 'abil',
 'abl',
 'aboard',
 'aborigin',
 'abov',
 'abram',
 'abroad',
 'absolut',
 'absurd',
 'abu',
 'abuse',
 'academ',
 'academi',
 'academy',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accu',
 'ace',
 'achiev',
 'acquaint',
 'acquir',
 'act',
 'action',
 'actionhero',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress',
 'actual',
 'ad',
 'adam',
 'adambrodi',
 'adamgoldberg',
 'adammckay',
 'adamsandl',
 'adamscott',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'addiction',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrienbrodi',
 'adrift',
 'adult',
 'adultanim',
 'adulteri',
 'adulthood',
 'adults',
 'advanc',
 'advantag',
 'adventur',
 'adventure',
 'adventures',
 'adverti',
 'advi',
 'advic',
 'affair',
 'affect',
 'affluent',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'africanamerican',
 'aftercreditsst',
 'afterlif',
 'aftermath',
 'afternoon',
 'ag',
 'age',
 'agediff',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'aggressionbyanim',
 'ago',
 'agr',
 'ahead',
 'aid',
 'aidanquinn',
 'ail',
 'aim',
 'air',
 'airborn',
 'aircraft',
 'airplan',
 'airplanecrash',
 'airport',
 'aka',
 'akivagoldsman',
 'al',
 'alabama',
 'alainsard',
 'alan',
 'alanalda',
 'alanarkin',
 'alanrickman',
 'alaska',
 'albert',
 'albertbrook',
 'albertr',
 'alcatraz',
 'alcohol',
 'alcoholabu',
 'alecbaldwin',
 'alecguin',
 'alejandroamenábar',
 'alejandrogonzáleziñárritu',
 'alessandronivola',
 'alex',
 'alexanderpayn',
 'alexanderskarsgård',
 'alexandreaja',
 'alexapenavega',
 'alexia',
 'alexisbledel',
 'alexkendrick',
 'alexkurtzman',
 'alexpettyf',
 'alexproya',
 'alfi',
 'alfonsocuarón',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'algeria',
 'ali',
 'alic',
 'alice',
 'alicebraga',
 'aliciasilverston',
 'aliciavikand',
 'aliciawitt',
 'alien',
 'alieninva',
 'alienlife',
 'alienplanet',
 'aliens',
 'alik',
 'alike',
 'alilart',
 'alisonlohman',
 'aliv',
 'alive',
 'alleg',
 'allegedli',
 'allen',
 'allencovert',
 'allenhugh',
 'alli',
 'allianc',
 'allies',
 'allisonjanney',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alpha',
 'alreadi',
 'alt',
 'alter',
 'altern',
 'alternat',
 'alternatehistori',
 'alway',
 'alysonhannigan',
 'alyssa',
 'alzheimer',
 'amanda',
 'amandabyn',
 'amandapeet',
 'amandaseyfri',
 'amateur',
 'amaz',
 'amazon',
 'ambassador',
 'amberheard',
 'ambervalletta',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'americaferrera',
 'american',
 'americanabroad',
 'americancivilwar',
 'americandream',
 'americanfootb',
 'americanfootballplay',
 'ami',
 'amid',
 'amidst',
 'amitabhbachchan',
 'amnesia',
 'amp',
 'amsterdam',
 'amu',
 'amusementpark',
 'amy',
 'amyadam',
 'amyheckerl',
 'amyirv',
 'amypoehl',
 'amyryan',
 'amysmart',
 'ana',
 'anakin',
 'analyst',
 'anarchiccomedi',
 'ancient',
 'ancientgreec',
 'ancientrom',
 'ancientworld',
 'anderson',
 'andi',
 'andiemacdowel',
 'andrebraugh',
 'andrew',
 'andrewa',
 'andrewadamson',
 'andrewdavi',
 'andreweaton',
 'andrewform',
 'andrewg',
 'andrewgarfield',
 'andrewlazar',
 'andrewmacdonald',
 'andrewniccol',
 'andrewpanay',
 'android',
 'andrzejbartkowiak',
 'andy',
 'andydick',
 'andyfickman',
 'andygarcía',
 'andygould',
 'andylau',
 'andysamberg',
 'andyserki',
 'andytenn',
 'angel',
 'angela',
 'angelabassett',
 'angelepogam',
 'angeles',
 'angelinajoli',
 'angelo',
 'anger',
 'angl',
 'angri',
 'ani',
 'anim',
 'animal',
 'animalattack',
 'animalhorror',
 'animals',
 'anjelicahuston',
 'ann',
 'anna',
 'annabel',
 'annabellasciorra',
 'annafari',
 'annafriel',
 'annakendrick',
 'annapaquin',
 'annasophiarobb',
 'anne',
 'annearch',
 'annebancroft',
 'annefletch',
 'annehathaway',
 'annehech',
 'annekopelson',
 'annemoss',
 'annetteben',
 'anni',
 'annie',
 'anniversari',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'answers',
 'ant',
 'antarct',
 'antarctica',
 'antholog',
 'anthoni',
 'anthonyanderson',
 'anthonybregman',
 'anthonyhopkin',
 'anthonykataga',
 'anthonymacki',
 'anthonyminghella',
 'anthropomorph',
 'anti',
 'antic',
 'antihero',
 'antiqu',
 'antisemit',
 'antiterror',
 'antoinefuqua',
 'anton',
 'antonio',
 'antoniobandera',
 'antonyelchin',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalyp',
 'apocalypse',
 'apocalypt',
 'apollo',
 'appar',
 'appear',
 'appl',
 'apple',
 'appli',
 'appoint',
 'appreci',
 'apprehend',
 'apprent',
 'approach',
 'approaches',
 'april',
 'aquarium',
 'arab',
 'arbitrarylaw',
 'arch',
 'archaeologist',
 'archeolog',
 'archer',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'ari',
 'aristocrat',
 'arizona',
 'arm',
 'armandass',
 'armi',
 'armiehamm',
 'arminmueller',
 'armor',
 'armsdeal',
 'army',
 'armyanbernstein',
 'arnold',
 'arnoldkopelson',
 'arnoldmess',
 'arnoldrifkin',
 'arnoldschwarzenegg',
 'arnonmilchan',
 'aronwarn',
 'arrang',
 'arrangedmarriag',
 'array',
 'arrest',
 'arriv',
 'arrives',
 'arrog',
 'arson',
 'art',
 'artgalleri',
 'arthur',
 'arthurfr',
 'articl',
 'artifact',
 'artifici',
 'artificialintellig',
 'artist',
 'artists',
 'artlinson',
 'ash',
 'ashley',
 'ashleyjudd',
 'ashokamritraj',
 'ashtonkutch',
 'asia',
 'asian',
 'asid',
 'ask',
 'aspect',
 'aspir',
 'assassin',
 'assassins',
 'assault',
 'assembl',
 'assign',
 'assignment',
 'assist',
 'assistant',
 'associ',
 'assort',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'atheist',
 'athlet',
 'atlant',
 'atlanta',
 'atom',
 'atomegoyan',
 'atomicbomb',
 'attach',
 'attack',
 'attacks',
 'attempt',
 'attemptedmurd',
 'attempttoescap',
 'attend',
 'attent',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'auction',
 'audienc',
 'audit',
 'audreytaut',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'austria',
 'author',
 'autism',
 'auto',
 'autobiograph',
 'automobilerac',
 'avail',
 'aveng',
 'averag',
 'aviarad',
 'aviat',
 'avilern',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awe',
 'awesom',
 'awkward',
 'awri',
 'awry',
 'ax',
 'axe',
 'axel',
 'ba',
 'babe',
 'babi',
 'baby',
 'babysitt',
 'bachelor',
 'backdrop',
 'background',
 'backpack',
 'backstag',
 'backyard',
 'bad',
 'badli',
 'bag',
 'bahama',
 'bail',
 'bailey',
 'baker',
 'balanc',
 'ball',
 'ballet',
 'balloon',
 'baltimor',
 'ban',
 'band',
 'bandit',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankrobb',
 'bankrobberi',
 'bar',
 'barbara',
 'barbarabroccoli',
 'barbaradefina',
 'barbarahershey',
 'barbarian',
 'barbershop',
 'barbrastreisand',
 'bare',
 'bargain',
 'barn',
 'barnabythompson',
 'barney',
 'baron',
 'barri',
 'barriem',
 'barrier',
 'barry',
 'barrybernardi',
 'barryjosephson',
 'barrylevinson',
 'barrymendel',
 'barrypepp',
 'barrysonnenfeld',
 'bars',
 'base',
 'baseb',
 'basedonchildren',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemu',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basiliwanyk',
 'basketb',
 'basketball',
 'bat',
 'bathtub',
 'batman',
 'battalion',
 'battl',
 'battle',
 'battlefield',
 'bay',
 'bazluhrmann',
 'beach',
 'beam',
 'bear',
 'beard',
 'beast',
 'beat',
 'beauflynn',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becam',
 'becau',
 'becki',
 'becom',
 'becominganadult',
 'bed',
 'bedroom',
 'bee',
 'beer',
 'befor',
 'befriend',
 'beg',
 'began',
 'begin',
 'begins',
 'beguil',
 'behavior',
 'behead',
 'belgium',
 'belief',
 'beliefs',
 'believ',
 'bell',
 'bella',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'benchaplin',
 'bend',
 'beneath',
 'benedictcumberbatch',
 'benefit',
 'benfost',
 'bengazzara',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'benmendelsohn',
 'bennett',
 'benstil',
 'bent',
 'benwhishaw',
 'berlin',
 'berndeich',
 'berniegoldmann',
 'berniemac',
 'best',
 'bestfriend',
 'bestfriendsinlov',
 'bet',
 'beth',
 'betray',
 'betrayal',
 'betsyrussel',
 'bettemidl',
 'better',
 'betti',
 'bettythoma',
 'beverli',
 'beverlyd',
 'bibl',
 'biblic',
 'bicker',
 'bicycl',
 'bid',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bikini',
 'bilbo',
 'billblock',
 'billborden',
 'billcondon',
 'billgerb',
 'billhad',
 'billi',
 'billion',
 'billionair',
 'billmoseley',
 'billmurray',
 'billnighi',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billyburk',
 'billyconnolli',
 'billycrudup',
 'billycryst',
 'billywild',
 'billyzan',
 'bind',
 'biograph',
 'biographi',
 'biolog',
 'biologist',
 'biopic',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bit',
 'bite',
 'bitten',
 'bitter',
 'bittersweet',
 'bizarr',
 'black',
 'blackandwhit',
 'blackhol',
 'blackmag',
 'blackmail',
 'blackpeopl',
 'blacksmith',
 'blade',
 'blake',
 'blakel',
 'blame',
 'blart',
 'blast',
 'blaxploit',
 'blaze',
 'blend',
 'bless',
 'blind',
 'blinddat',
 'blindnessandimpairedvi',
 'bliss',
 'blizzard',
 'block',
 'blofeld',
 'blog',
 'blond',
 'blonde',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'bloom',
 'blossom',
 'blow',
 'blu',
 'blue',
 'blunt',
 'blur',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobbalaban',
 'bobbi',
 'bobby',
 'bobbycannav',
 'bobbyfarrelli',
 'bobclark',
 'bobgunton',
 'bobhoskin',
 'bobweinstein',
 'bobyari',
 'bodi',
 'body',
 'bodyguard',
 'bodyhorror',
 'bohemian',
 'bokeemwoodbin',
 'bold',
 'bollywood',
 'bolt',
 'bomb',
 'bomber',
 'bond',
 'bone',
 'bonniehunt',
 'boo',
 'book',
 'books',
 'boot',
 'border',
 'bore',
 'boredom',
 'boring',
 'born',
 'borrow',
 'boss',
 'boston',
 'botch',
 'bound',
 'boundari',
 'bounti',
 'bountyhunt',
 'bourn',
 'bout',
 'bowl',
 'box',
 'boxer',
 'boy',
 'boyd',
 'boyfriend',
 'boys',
 'brad',
 'bradbird',
 'braddourif',
 'bradley',
 'bradleycoop',
 'bradleythoma',
 'bradpitt',
 'bradycorbet',
 'brain',
 'brainwash',
 'brand',
 'brandon',
 'brave',
 'braveri',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breakingthefourthw',
 'breakup',
 'breast',
 'breath',
 'breckinmey',
 'breed',
 'brendanfra',
 'brendangleeson',
 'brennan',
 'brent',
 'brentspin',
 'brettratn',
 'brew',
 'brian',
 'briancox',
 'briandennehi',
 'briandepalma',
 'briangraz',
 'brianhelgeland',
 'brianlev',
 'brianoliv',
 'brianrobbin',
 'briantaylor',
 'brick',
 'bride',
 'bridesmaid',
 'bridg',
 'bridgetfonda',
 'bridgettewilson',
 'brief',
 'brielarson',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britisharmi',
 'britishsecretserv',
 'britmarl',
 'brittanymurphi',
 'brittanysnow',
 'brittrobertson',
 'broadcast',
 'broadway',
 'broccoli',
 'broderickjohnson',
 'broke',
 'broken',
 'broker',
 'bronson',
 'bronx',
 'brood',
 'brook',
 'brooklyn',
 'brooklynnewyorkc',
 'broom',
 'broth',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brotherhood',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucecampbel',
 'brucecohen',
 'brucedavey',
 'brucedern',
 'brucegreenwood',
 'brucemcgil',
 'brucewilli',
 'brutal',
 'bryanburk',
 'bryancranston',
 'bryans',
 'brycedallashoward',
 'bu',
 'buck',
 'bud',
 'budapest',
 'buddi',
 'buddy',
 'buddycomedi',
 'buddycop',
 'budget',
 'build',
 'building',
 'built',
 'bullet',
 'bulli',
 'bum',
 'bumbl',
 'bunch',
 'bunker',
 'bunni',
 'bureaucraci',
 'burglar',
 'buri',
 'buried',
 'burn',
 'burned',
 'burtlancast',
 'burton',
 'burtreynold',
 'burtyoung',
 ...]

# Now we will find cosine similarity for every movie

In [206]:
from sklearn.metrics.pairwise import cosine_similarity

In [212]:
similarity = cosine_similarity(vectors)

In [214]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:7]

[(2403, 0.2600520156052018),
 (1213, 0.23520912854933645),
 (3723, 0.22360679774997896),
 (507, 0.21771450342889792),
 (582, 0.208140798967364),
 (778, 0.19440394783993478)]

# Now we will find 6 most similar movies

In [219]:
def recommender(movie):
    movieIndex = movies[movies['title']==movie].index[0]
    distances = similarity[movieIndex]
    moviesList = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:7]
    
    for i in moviesList:
        print(movies.iloc[i[0]].title)

In [220]:
recommender('Avatar')

Aliens
Aliens vs Predator: Requiem
Falcon Rising
Independence Day
Battle: Los Angeles
Meet Dave

# Let's make it go LIVE

In [222]:
!pip install streamlit
import streamlit as st

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
mysql-connector-python 8.0.30 requires protobuf<=3.20.1,>=3.11.0, but you have protobuf 3.20.2 which is incompatible.

Collecting streamlit
  Downloading streamlit-1.12.2-py2.py3-none-any.whl (9.1 MB)
     ---------------------------------------- 9.1/9.1 MB 1.3 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=3.10.0.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (4.1.1)
Requirement already satisfied: click>=7.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (8.1.3)
Collecting pydeck>=0.1.dev5
  Downloading pydeck-0.8.0b3-py2.py3-none-any.whl (4.7 MB)
     ---------------------------------------- 4.7/4.7 MB 2.7 MB/s eta 0:00:00
Collecting validators>=0.2
  Downloading validators-0.20.0.tar.gz (30 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting semver
  Downloading semver-2.13.0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: numpy in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (1.22.3)
Collecting pyarrow>=4.0
  Downloading pyarrow-9.0.0-cp310-cp310-win_amd64.whl (19.5 MB)
     ---------------------------------------- 19.5/19.5 MB 2.8 MB/s eta 0:00:00
Requirement already satisfied: pillow>=6.2.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (9.1.0)
Collecting toml
  Using cached toml-0.10.2-py2.py3-none-any.whl (16 kB)
Collecting tzlocal>=1.1
  Downloading tzlocal-4.2-py3-none-any.whl (19 kB)
Requirement already satisfied: python-dateutil in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests>=2.4 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (2.28.1)
Collecting altair>=3.2.0
  Using cached altair-4.2.0-py3-none-any.whl (812 kB)
Collecting pympler>=0.9
  Using cached Pympler-1.0.1-py3-none-any.whl (164 kB)
Collecting watchdog
  Downloading watchdog-2.1.9-py3-none-win_amd64.whl (78 kB)
     ---------------------------------------- 78.4/78.4 kB 4.3 MB/s eta 0:00:00
Collecting protobuf<4,>=3.12
  Downloading protobuf-3.20.2-cp310-cp310-win_amd64.whl (904 kB)
     -------------------------------------- 904.0/904.0 kB 3.2 MB/s eta 0:00:00
Collecting cachetools>=4.0
  Downloading cachetools-5.2.0-py3-none-any.whl (9.3 kB)
Requirement already satisfied: packaging>=14.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (21.3)
Collecting blinker>=1.0.0
  Downloading blinker-1.5-py2.py3-none-any.whl (12 kB)
Collecting importlib-metadata>=1.4
  Downloading importlib_metadata-4.12.0-py3-none-any.whl (21 kB)
Collecting gitpython!=3.1.19
  Downloading GitPython-3.1.27-py3-none-any.whl (181 kB)
     -------------------------------------- 181.2/181.2 kB 2.7 MB/s eta 0:00:00
Collecting rich>=10.11.0
  Downloading rich-12.5.1-py3-none-any.whl (235 kB)
     -------------------------------------- 235.6/235.6 kB 3.6 MB/s eta 0:00:00
Requirement already satisfied: tornado>=5.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (6.1)
Requirement already satisfied: pandas>=0.21.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (1.4.2)
Requirement already satisfied: entrypoints in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from altair>=3.2.0->streamlit) (0.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from altair>=3.2.0->streamlit) (4.4.0)
Collecting toolz
  Downloading toolz-0.12.0-py3-none-any.whl (55 kB)
     ---------------------------------------- 55.8/55.8 kB ? eta 0:00:00
Requirement already satisfied: jinja2 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from altair>=3.2.0->streamlit) (3.1.1)
Requirement already satisfied: colorama in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from click>=7.0->streamlit) (0.4.4)
Collecting gitdb<5,>=4.0.1
  Using cached gitdb-4.0.9-py3-none-any.whl (63 kB)
Collecting zipp>=0.5
  Downloading zipp-3.8.1-py3-none-any.whl (5.6 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from packaging>=14.1->streamlit) (3.0.7)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.21.0->streamlit) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.4->streamlit) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.4->streamlit) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.4->streamlit) (2022.6.15.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.4->streamlit) (3.4)
Collecting commonmark<0.10.0,>=0.9.0
  Downloading commonmark-0.9.1-py2.py3-none-any.whl (51 kB)
     ---------------------------------------- 51.1/51.1 kB 2.7 MB/s eta 0:00:00
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from rich>=10.11.0->streamlit) (2.11.2)
Collecting tzdata
  Downloading tzdata-2022.2-py2.py3-none-any.whl (336 kB)
     -------------------------------------- 336.4/336.4 kB 3.0 MB/s eta 0:00:00
Collecting pytz-deprecation-shim
  Using cached pytz_deprecation_shim-0.1.0.post0-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: decorator>=3.4.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from validators>=0.2->streamlit) (5.1.1)
Collecting smmap<6,>=3.0.1
  Using cached smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from jinja2->altair>=3.2.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.18.1)
Using legacy 'setup.py install' for validators, since package 'wheel' is not installed.
Installing collected packages: commonmark, zipp, watchdog, validators, tzdata, toolz, toml, smmap, semver, rich, pympler, pyarrow, protobuf, cachetools, blinker, pytz-deprecation-shim, pydeck, importlib-metadata, gitdb, tzlocal, gitpython, altair, streamlit
  Running setup.py install for validators: started
  Running setup.py install for validators: finished with status 'done'
Successfully installed altair-4.2.0 blinker-1.5 cachetools-5.2.0 commonmark-0.9.1 gitdb-4.0.9 gitpython-3.1.27 importlib-metadata-4.12.0 protobuf-3.20.2 pyarrow-9.0.0 pydeck-0.8.0b3 pympler-1.0.1 pytz-deprecation-shim-0.1.0.post0 rich-12.5.1 semver-2.13.0 smmap-5.0.0 streamlit-1.12.2 toml-0.10.2 toolz-0.12.0 tzdata-2022.2 tzlocal-4.2 validators-0.20.0 watchdog-2.1.9 zipp-3.8.1

In [223]:
st.title('Movie')

2022-09-17 00:23:53.723
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [225]:
import pickle as pk
pk.dump(movies.to_dict(),open('movies.pkl','wb'))

In [227]:
pk.dump(similarity,open('similarity.pkl','wb'))